In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from scipy.io import arff
from io import BytesIO

# Process Datasets

## 1. Create Data Frame

In [2]:
#create data frame for Child
data = arff.loadarff('Autism-Child-Data.arff')
df_child = pd.DataFrame(data[0])

In [3]:
df_child

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,b'1',b'1',b'0',b'0',b'1',b'1',b'0',b'1',b'0',b'0',...,b'm',b'Others',b'no',b'no',b'Jordan',b'no',5.0,b'4-11 years',b'Parent',b'NO'
1,b'1',b'1',b'0',b'0',b'1',b'1',b'0',b'1',b'0',b'0',...,b'm',b'Middle Eastern ',b'no',b'no',b'Jordan',b'no',5.0,b'4-11 years',b'Parent',b'NO'
2,b'1',b'1',b'0',b'0',b'0',b'1',b'1',b'1',b'0',b'0',...,b'm',b'?',b'no',b'no',b'Jordan',b'yes',5.0,b'4-11 years',b'?',b'NO'
3,b'0',b'1',b'0',b'0',b'1',b'1',b'0',b'0',b'0',b'1',...,b'f',b'?',b'yes',b'no',b'Jordan',b'no',4.0,b'4-11 years',b'?',b'NO'
4,b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',...,b'm',b'Others',b'yes',b'no',b'United States',b'no',10.0,b'4-11 years',b'Parent',b'YES'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',...,b'f',b'White-European',b'yes',b'yes',b'United Kingdom',b'no',10.0,b'4-11 years',b'Parent',b'YES'
288,b'1',b'0',b'0',b'0',b'1',b'0',b'1',b'0',b'0',b'1',...,b'f',b'White-European',b'yes',b'yes',b'Australia',b'no',4.0,b'4-11 years',b'Parent',b'NO'
289,b'1',b'0',b'1',b'1',b'1',b'1',b'1',b'0',b'0',b'1',...,b'm',b'Latino',b'no',b'no',b'Brazil',b'no',7.0,b'4-11 years',b'Parent',b'YES'
290,b'1',b'1',b'1',b'0',b'1',b'1',b'1',b'1',b'1',b'1',...,b'm',b'South Asian',b'no',b'no',b'India',b'no',9.0,b'4-11 years',b'Parent',b'YES'
291,b'0',b'0',b'1',b'0',b'1',b'0',b'1',b'0',b'0',b'0',...,b'f',b'South Asian',b'no',b'no',b'India',b'no',3.0,b'4-11 years',b'Parent',b'NO'

In [4]:
#data type of each feature in the dataset
df_child.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   A1_Score         292 non-null    object
 1   A2_Score         292 non-null    object
 2   A3_Score         292 non-null    object
 3   A4_Score         292 non-null    object
 4   A5_Score         292 non-null    object
 5   A6_Score         292 non-null    object
 6   A7_Score         292 non-null    object
 7   A8_Score         292 non-null    object
 8   A9_Score         292 non-null    object
 9   A10_Score        292 non-null    object
 10  age              288 non-null    float64
 11  gender           292 non-null    object
 12  ethnicity        292 non-null    object
 13  jundice          292 non-null    object
 14  austim           292 non-null    object
 15  contry_of_res    292 non-null    object
 16  used_app_before  292 non-null    object
 17  result           292 non-null    float64
 18  age_desc         292 non-null    object
 19  relation         292 non-null    object
 20  Class/ASD        292 non-null    object
dtypes: float64(2), object(19)
memory usage: 48.0+ KB

## 2. Drop Unrelated Features

In [5]:
df_child_drop = df_child.drop(['ethnicity','contry_of_res'], axis=1)

In [6]:
df_child_drop

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,jundice,austim,used_app_before,result,age_desc,relation,Class/ASD
0,b'1',b'1',b'0',b'0',b'1',b'1',b'0',b'1',b'0',b'0',6.0,b'm',b'no',b'no',b'no',5.0,b'4-11 years',b'Parent',b'NO'
1,b'1',b'1',b'0',b'0',b'1',b'1',b'0',b'1',b'0',b'0',6.0,b'm',b'no',b'no',b'no',5.0,b'4-11 years',b'Parent',b'NO'
2,b'1',b'1',b'0',b'0',b'0',b'1',b'1',b'1',b'0',b'0',6.0,b'm',b'no',b'no',b'yes',5.0,b'4-11 years',b'?',b'NO'
3,b'0',b'1',b'0',b'0',b'1',b'1',b'0',b'0',b'0',b'1',5.0,b'f',b'yes',b'no',b'no',4.0,b'4-11 years',b'?',b'NO'
4,b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',5.0,b'm',b'yes',b'no',b'no',10.0,b'4-11 years',b'Parent',b'YES'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',7.0,b'f',b'yes',b'yes',b'no',10.0,b'4-11 years',b'Parent',b'YES'
288,b'1',b'0',b'0',b'0',b'1',b'0',b'1',b'0',b'0',b'1',7.0,b'f',b'yes',b'yes',b'no',4.0,b'4-11 years',b'Parent',b'NO'
289,b'1',b'0',b'1',b'1',b'1',b'1',b'1',b'0',b'0',b'1',4.0,b'm',b'no',b'no',b'no',7.0,b'4-11 years',b'Parent',b'YES'
290,b'1',b'1',b'1',b'0',b'1',b'1',b'1',b'1',b'1',b'1',4.0,b'm',b'no',b'no',b'no',9.0,b'4-11 years',b'Parent',b'YES'
291,b'0',b'0',b'1',b'0',b'1',b'0',b'1',b'0',b'0',b'0',4.0,b'f',b'no',b'no',b'no',3.0,b'4-11 years',b'Parent',b'NO'

## 3. Remove Bytes 'b' in Data Frame

In [13]:
df_child_remove = df_child_drop

In [14]:
df_child_remove

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,jundice,austim,used_app_before,result,age_desc,relation,Class/ASD
0,b'1',b'1',b'0',b'0',b'1',b'1',b'0',b'1',b'0',b'0',6.0,b'm',b'no',b'no',b'no',5.0,b'4-11 years',b'Parent',b'NO'
1,b'1',b'1',b'0',b'0',b'1',b'1',b'0',b'1',b'0',b'0',6.0,b'm',b'no',b'no',b'no',5.0,b'4-11 years',b'Parent',b'NO'
2,b'1',b'1',b'0',b'0',b'0',b'1',b'1',b'1',b'0',b'0',6.0,b'm',b'no',b'no',b'yes',5.0,b'4-11 years',b'?',b'NO'
3,b'0',b'1',b'0',b'0',b'1',b'1',b'0',b'0',b'0',b'1',5.0,b'f',b'yes',b'no',b'no',4.0,b'4-11 years',b'?',b'NO'
4,b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',5.0,b'm',b'yes',b'no',b'no',10.0,b'4-11 years',b'Parent',b'YES'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',b'1',7.0,b'f',b'yes',b'yes',b'no',10.0,b'4-11 years',b'Parent',b'YES'
288,b'1',b'0',b'0',b'0',b'1',b'0',b'1',b'0',b'0',b'1',7.0,b'f',b'yes',b'yes',b'no',4.0,b'4-11 years',b'Parent',b'NO'
289,b'1',b'0',b'1',b'1',b'1',b'1',b'1',b'0',b'0',b'1',4.0,b'm',b'no',b'no',b'no',7.0,b'4-11 years',b'Parent',b'YES'
290,b'1',b'1',b'1',b'0',b'1',b'1',b'1',b'1',b'1',b'1',4.0,b'm',b'no',b'no',b'no',9.0,b'4-11 years',b'Parent',b'YES'
291,b'0',b'0',b'1',b'0',b'1',b'0',b'1',b'0',b'0',b'0',4.0,b'f',b'no',b'no',b'no',3.0,b'4-11 years',b'Parent',b'NO'

In [15]:
df_child_remove = df_child_remove.select_dtypes([object])
df_child_remove = df_child_remove.stack().str.decode('utf-8').unstack()

In [23]:
df_child_remove = df_child[['result','age']].join(df_child_remove)

In [24]:
df_child_remove

,result,age,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,gender,jundice,austim,used_app_before,age_desc,relation,Class/ASD
0,5.0,6.0,1,1,0,0,1,1,0,1,0,0,m,no,no,no,4-11 years,Parent,NO
1,5.0,6.0,1,1,0,0,1,1,0,1,0,0,m,no,no,no,4-11 years,Parent,NO
2,5.0,6.0,1,1,0,0,0,1,1,1,0,0,m,no,no,yes,4-11 years,?,NO
3,4.0,5.0,0,1,0,0,1,1,0,0,0,1,f,yes,no,no,4-11 years,?,NO
4,10.0,5.0,1,1,1,1,1,1,1,1,1,1,m,yes,no,no,4-11 years,Parent,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,10.0,7.0,1,1,1,1,1,1,1,1,1,1,f,yes,yes,no,4-11 years,Parent,YES
288,4.0,7.0,1,0,0,0,1,0,1,0,0,1,f,yes,yes,no,4-11 years,Parent,NO
289,7.0,4.0,1,0,1,1,1,1,1,0,0,1,m,no,no,no,4-11 years,Parent,YES
290,9.0,4.0,1,1,1,0,1,1,1,1,1,1,m,no,no,no,4-11 years,Parent,YES
291,3.0,4.0,0,0,1,0,1,0,1,0,0,0,f,no,no,no,4-11 years,Parent,NO

In [12]:
#Convert byte object columns to string type
'''
df_child_remove['gender'] = df_child_drop['gender'].str.decode('utf-8')
df_child_remove['jundice'] = df_child_drop['jundice'].str.decode('utf-8')
df_child_remove['austim'] = df_child_drop['austim'].str.decode('utf-8')
df_child_remove['used_app_before'] = df_child_drop['used_app_before'].str.decode('utf-8')
df_child_remove['age_desc'] = df_child_drop['age_desc'].str.decode('utf-8')
df_child_remove['relation'] = df_child_drop['relation'].str.decode('utf-8')
df_child_remove['Class/ASD'] = df_child_drop['Class/ASD'].str.decode('utf-8')

df_child_remove['A1_Score'] = df_child_drop['A1_Score'].str.decode('utf-8')
df_child_remove['A2_Score'] = df_child_drop['A2_Score'].str.decode('utf-8')
df_child_remove['A3_Score'] = df_child_drop['A3_Score'].str.decode('utf-8')
df_child_remove['A4_Score'] = df_child_drop['A4_Score'].str.decode('utf-8')
df_child_remove['A5_Score'] = df_child_drop['A5_Score'].str.decode('utf-8')
df_child_remove['A6_Score'] = df_child_drop['A6_Score'].str.decode('utf-8')
df_child_remove['A7_Score'] = df_child_drop['A7_Score'].str.decode('utf-8')
df_child_remove['A8_Score'] = df_child_drop['A8_Score'].str.decode('utf-8')
df_child_remove['A9_Score'] = df_child_drop['A9_Score'].str.decode('utf-8')
df_child_remove['A10_Score'] = df_child_drop['A10_Score'].str.decode('utf-8')
'''


#df.apply(lambda x: x.str.decode('utf-8'))


#for col in df:
    #df = df[col].astype(str).str.decode("utf-8")

## 4. Check Missing Value

In [59]:
df_child_remove['Age'].unique()

KeyError: 'Age'

In [54]:
df_child_remove[df_child_remove.isna().sum(axis=1) > 0]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,jundice,austim,used_app_before,result,age_desc,relation,Class/ASD
32,1,0,0,1,0,1,1,1,1,1,NaN,m,no,no,no,7.0,4-11 years,?,YES
65,0,0,1,0,0,0,0,0,0,0,NaN,m,no,no,no,1.0,4-11 years,Parent,NO
126,1,1,1,1,0,1,0,1,0,1,NaN,m,yes,no,no,7.0,4-11 years,?,YES
138,0,1,1,0,1,1,1,1,0,0,NaN,m,yes,no,yes,6.0,4-11 years,?,NO

## 3. One-Hot-Encoding
#### Convert not numeric data to numbers for analysis purpose

In [55]:
df_child_remove['gender'] = df_child_remove['gender'].map({'m': 0, 'f': 1})

In [56]:
df_child_remove['A1_Score'] = pd.get_dummies(df_child_remove['A1_Score'])

ValueError: Columns must be same length as key